<div>
<h1>asdf</h1>
	<%= simple_form_for @comment do |f| %>
		<%= f.input :name, label: 'Your name:' %>
		<%= f.input :description, label: 'Your thoughts:' %>
		<br />
		<%= f.submit 'Create' %>
	<% end %>
</div>